{{> welcome-menu}}

  <div class="columns">
    <div class="column">
      <!-- First Section -->
      <section class="section">
        <img src="/images/png/mainLogo.png" alt="Vacation">
      </section>
    </div>
    <div class="column">
      <!-- Second Section -->
      <section class="section">
        <h1 class="title">Second Section</h1>
        <p> Sign up or Log in... </p>
      </section>
    </div>
  </div>